body{
    background-color: #5A5647;
    color:#fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}
h1,h3{
color:#94C3F1;
font-family: cursive;
}
h1{
    font-size:40px;
}
h3{
    font-size: 18px;
}
#top{
    border-bottom: 1px solid #8C877C;
}
#top b{
    color:#f5f117
}
.movie a
{
    color:red;
    text-decoration: none;
}
.movie a:hover
{
    text-decoration: underline;
}
.moodes img
{
width:400px;
height: 350px;
}
p::first-letter {
    font-size: 150%;
  }
  ol {
    display: flex;
    flex-direction: column-reverse;
  }