body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-weight: bold;
}
#heading{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}
.control,#txtArea
{
    width: 90%;
    margin: 0 auto;
}
#txtArea{
    height: 400px;
    display: block;
    font-size:12pt;
    font-family: monospace;
}
fieldset
{
    display: inline;
    border: 2px solid black;
}
legend{
    font-size: 12pt;
}
.control{
    text-align: center;
}
.footer{
    position:fixed;
    right:0px;
    bottom:0px
}
.footer img{
    opacity: .5;
}